sounddevice
pyaudio
pyserial
audioread
bs4
librosa
requests
beautifulsoup4
pydub
numpy
#scipy
#matplotlib
#scikit-learn
#scikit-image
#opencv-python
#pillow
#tensorflow
#keras
#torch
#zipfile
#io
#wave
#json
#os
#re
#logging
#argparse
#datetime
#pandas

